@model DebtMan.WebApp.Models.DebtorViewModel

@{
    ViewBag.Title = "Delete debtor";
}

<h3>Are you sure you want to delete this debtor?</h3>

@using (Html.BeginForm()) {
    
    <fieldset>
        <legend>Debtor</legend>

        <div class="display-label">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(m => m.Name)
        </div>
        <br />

        <div class="display-label">
            @Html.LabelFor(m => m.Income)
        </div>
        <div class="display-field">
            @Html.DisplayFor(m => m.Income)
        </div>
        <br />

        <div class="display-label">
            @Html.LabelFor(m => m.Expenditure)
        </div>
        <div class="display-field">
            @Html.DisplayFor(m => m.Expenditure)
        </div>
        <br />

        <div class="display-label">
            @Html.LabelFor(m => m.CompanyName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(m => m.CompanyName)
        </div>
        <br />

        <p>
            <input type="submit" value="Delete" />
            <a href="@Url.Action("Index")">
                <button>Cancel</button>
            </a>
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
