@model DebtMan.WebApp.Models.DebtorViewModel

@{
    ViewBag.Title = "Debtor details";
}

<fieldset>
    <legend>Debtor</legend>

    <div class="display-label">
        @Html.LabelFor(m => m.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.Name)
    </div>
    <br />

    <div class="display-label">
        @Html.LabelFor(m => m.Income)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.Income)
    </div>
    <br />

    <div class="display-label">
        @Html.LabelFor(m => m.Expenditure)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.Expenditure)
    </div>
    <br />

    <div class="display-label">
        @Html.LabelFor(m => m.DisposableIncome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.DisposableIncome)
    </div>
    <br />

    <div class="display-label">
        @Html.LabelFor(m => m.TotalAmountOwed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.TotalAmountOwed)
    </div>
    <br />

    <div class="display-label">
        @Html.LabelFor(m => m.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.CompanyName)
    </div>
    <br />

    <h3>Debts</h3>

    <div class="display-field">
        <table>
            <tr>
                <th>Amount Owed</th>
            </tr>

            @foreach (var debt in Model.Debts) {
                <tr>
                    <td class="money-column">
                        @Html.DisplayFor(_ => debt.AmountOwed)
                    </td>
                </tr>
            }

        </table>
    </div>
    
</fieldset>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
