@using DebtMan.DomainModel
@using DebtMan.WebApp.MvcExtensibility
@model IEnumerable<DebtMan.WebApp.Models.DebtorViewModel>

@{
    ViewBag.Title = "List of debtors";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    <tr>
        <th>Name</th>
        <th>Income</th>
        <th>Expenditure</th>
        <th>Disposable Income</th>
        <th>Total Amount Owed</th>
        <th>@Company.CompanyA.CompanyToDisplayName()</th>
        <th>@Company.CompanyB.CompanyToDisplayName()</th>
        <th>@Company.CompanyC.CompanyToDisplayName()</th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.Id })
        </td>
        <td class="money-column">
            @Html.DisplayFor(_ => item.Income)
        </td>
        <td class="money-column">
            @Html.DisplayFor(_ => item.Expenditure)
        </td>
        <td class="money-column">
            @Html.DisplayFor(_ => item.DisposableIncome)
        </td>
        <td class="money-column">
            @Html.DisplayFor(_ => item.TotalAmountOwed)
        </td>
        <td @Html.Css("money-column").Add("is-with-this-company", item.IsWithCompanyA)>
            @Html.ActionLink(
                linkText: item.MonthlyManagementFeeCompanyA.ToString("C"),
                actionName: "Details",
                controllerName: "DebtManagementPlan",
                routeValues: new { id = item.Id, company = Company.CompanyA },
                htmlAttributes: null)
        </td>
        <td @Html.Css("money-column").Add("is-with-this-company", item.IsWithCompanyB)>
            @Html.ActionLink(
             linkText: item.MonthlyManagementFeeCompanyB.ToString("C"),
                actionName: "Details",
                controllerName: "DebtManagementPlan",
                routeValues: new { id = item.Id, company = Company.CompanyB },
                htmlAttributes: null)
        </td>
        <td @Html.Css("money-column").Add("is-with-this-company", item.IsWithCompanyC)>
            @Html.ActionLink(
             linkText: item.MonthlyManagementFeeCompanyC.ToString("C"),
                actionName: "Details",
                controllerName: "DebtManagementPlan",
                routeValues: new { id = item.Id, company = Company.CompanyC },
                htmlAttributes: null)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
