@model DebtMan.WebApp.Models.DebtManagementPlanViewModel

@{
    ViewBag.Title = "Debt management plan details";
}

<p>
    @Html.ActionLink("Back to List", "Index", "Debtors")
</p>

<fieldset>
    <legend>Debt Management Plan</legend>

    <div class="display-label">
        @Html.LabelFor(m => m.DebtorName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.DebtorName)
    </div>
    <br />

    <div class="display-label">
        @Html.LabelFor(m => m.DebtorIncome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.DebtorIncome)
    </div>
    <br />

    <div class="display-label">
        @Html.LabelFor(m => m.DebtorExpenditure)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.DebtorExpenditure)
    </div>
    <br />

    <div class="display-label">
        @Html.LabelFor(m => m.DebtorDisposableIncome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.DebtorDisposableIncome)
    </div>
    <br />

    <div class="display-label">
        @Html.LabelFor(m => m.DebtorTotalAmountOwed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.DebtorTotalAmountOwed)
    </div>
    <br />

    <div class="display-label">
        @Html.LabelFor(m => m.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.CompanyName)
    </div>
    <br />

    <div class="display-label">
        @Html.LabelFor(m => m.MonthlyManagementFee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.MonthlyManagementFee)
    </div>
    <br />

    <h3>Monthly Repayments To Creditors</h3>

    <div class="display-field">
        <table>
            <tr>
                <th>
                    Amount Owed
                </th>
                <th>
                    Monthly Repayment
                </th>
            </tr>

        @foreach (var item in Model.CreditorRepayments) {
            <tr>
                <td class="money-column">
                    @Html.DisplayFor(_ => item.AmountOwed)
                </td>
                <td class="money-column">
                    @Html.DisplayFor(_ => item.MonthlyRepayment)
                </td>
            </tr>
        }

        </table>
    </div>

</fieldset>

<p>
    @Html.ActionLink("Back to List", "Index", "Debtors")
</p>
